---
import '../styles/global.css'
import { Font } from 'astro:assets'
import { Cog, DotIcon } from '@lucide/astro'
import TactileButton from '../components/tactile-button.astro'

const pathname = new URL(Astro.url).pathname
const onPrivacyPolicy = pathname === '/privacy-policy'
const onSettings = pathname === '/settings'
---

<html lang='en'>
    <head>
        <meta charset='utf-8' />
        <link
            rel='icon'
            href='data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🔍</text></svg>'
        />
        <meta name='viewport' content='width=device-width' />
        <meta name='generator' content={Astro.generator} />
        <title>HumanSearch</title>
        <Font cssVariable='--font-lora' />
        <link
            rel='search'
            type='application/opensearchdescription+xml'
            title='HumanSearch'
            href='/opensearch.xml'
        />
    </head>
    <body class='h-screen w-full grid place-items-center'>
        <a href='/settings' class='fixed top-4 right-4'>
            <TactileButton big={true}>
                <Cog stroke-width={1.5} /> Settings
            </TactileButton>
        </a>
        <main class='hidden w-fit md:flex flex-col gap-y-9 max-w-[85ch]'>
            <slot />
        </main>

        {
            !onSettings && !onPrivacyPolicy ? (
                <main class='p-8 flex flex-col md:hidden gap-y-4'>
                    <h1 class='text-4xl font-medium'>
                        <span class='font-lora italic'>Human</span>Search
                    </h1>

                    <p class='text-sm'>
                        <b>WARNING:</b> HumanSearch was not built with mobile in
                        mind. With that being said, it can still work if you
                        know what you're doing. For full instructions, please
                        open on a desktop browser.
                    </p>
                </main>
            ) : (
                <main class='p-8 w-fit flex flex-col gap-y-9 max-w-[85ch]'>
                    <slot />
                </main>
            )
        }

        <footer
            class='absolute bottom-0 pb-6 w-full flex flex-row justify-center items-center gap-x-2 md:gap-x-4 text-zinc-400'
        >
            <a href='/privacy-policy'>
                <TactileButton light={true}>privacy policy</TactileButton>
            </a>
            <DotIcon />
            <a href='https://github.com/diodzi/human-search' target='_blank'>
                <TactileButton light={true}>source code</TactileButton>
            </a>

            <DotIcon class='hidden md:block' />
            <a
                class='hidden md:block'
                href='https://diodzi.dev'
                target='_blank'
            >
                <TactileButton light={true}>
                    made with &lt;3 by fellow human diodzi
                </TactileButton>
            </a>
        </footer>
    </body>
</html>

<style>
    html {
        font-family: 'Helvetica';
    }

    .is-current-page {
        --tw-translate-y: calc(var(--spacing) * 1);
        translate: var(--tw-translate-x) var(--tw-translate-y);
        border: 0px;
        box-shadow: 0px;
    }
</style>
